.CodeMirror {
        border: 1px solid #eee;
        width: 100%;
        background-color: #F0F8FF;
        font-size: 14px;
        font-family: "Courier New";        
        height: auto;
      }

.CodeMirror-scroll {
        height: auto;
    }      
    
p {
  margin-bottom: 30px;
  text-align: justify;
}

h1
{
font-size: 28px;
font-weight:bold;
}

h2
{
font-size: 20px;
font-weight:bold;
}

h3
{
font-size: 18px;
font-weight:bold;
}

h4
{
font-size: 16px;
font-weight:bold;
}